{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 180,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@trivago/prettier-plugin-sort-imports"
	],
	"importOrder": ["^(.*)((heroicons-svelte)|(\\.svelte))$", "^svelte$"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
