:root {
	--theme: #e94b4b;

	--text-color: #363636;
	--background-color: #eaeaea;
	--title-bar-text-color: #070707;
	--title-bar-faded-color: #a0a0a0;
	--title-bar-color: #d8d8d8;
	--title-bar-highlight: rgba(0, 0, 0, 0.1);
	--highlight-color: rgba(0.5, 0.5, 0.5, 0.15);

	/* This is set elsewhere */
	--side-bar-width: 0;

	--white-invert-factor: 0.8;
}

.app-is-dark:root {
	--background-color: #121212;

	--text-color: #dbdbdb;
	--title-bar-color: #070707;
	--title-bar-faded-color: #c8c8c8;
	--title-bar-text-color: #e8e8e8;
	--title-bar-highlight: rgba(255, 255, 255, 0.1);
	--highlight-color: rgba(255, 255, 255, 0.15);

	--white-invert-factor: 0.2;
}

html {
	overflow: hidden;
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

/* Color changes */

html {
	background-color: var(--background-color) !important;
}

/* Cursors */

.cursor-edit {
	cursor: url(/cursors/edit-dark.svg) 0 16, auto;
}

.app-is-dark .cursor-edit {
	cursor: url(/cursors/edit-light.svg) 0 16, auto;
}

/* Helpers */

.no-select {
	user-select: none;
}

.allow-select {
	user-select: initial;
}

.dark-show {
	display: none;
}

.light-show {
	display: unset;
}

.app-is-dark .dark-show {
	display: unset !important;
}

.app-is-dark .light-show {
	display: none !important;
}

.fade-on-hover:hover {
	color: #7a7a7a !important;
}

.highlight-on-hover:hover {
	background-color: var(--highlight-color) !important;
}

.heavy-highlight-on-hover:hover {
	background-color: rgba(0.5, 0.5, 0.5, 0.75) !important;
}