@import "/css/scrollbar.css";

html {
	overflow: hidden;
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

/* Color changes */

html {
	background-color: var(--background-color) !important;
}

/* Helpers */

.no-select:not(.allow-select) {
	user-select: none;
}

.allow-select {
	user-select: initial !important;
}

.fade-on-hover:hover {
	color: #7a7a7a !important;
}

.highlight-on-hover:hover {
	background-color: var(--highlight-color) !important;
}

.heavy-highlight-on-hover:hover {
	background-color: rgba(0.5, 0.5, 0.5, 0.75) !important;
}