@import "/css/scrollbar.css";

body {
	margin: 0;
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

/* Fix scale on Android */
@media screen and (-webkit-min-device-pixel-ratio: 0) {

	select:focus,
	textarea:focus,
	input:focus {
		font-size: 16px;
	}
}

/* Color changes */

html {
	overflow: auto !important;
	background-color: var(--background-color) !important;
	color: var(--text-color) !important;
}

/* Helpers */

.no-select:not(.allow-select) {
	user-select: none;
}

.allow-select {
	user-select: initial !important;
}

.fade-on-hover:hover {
	color: #7a7a7a !important;
}

.highlight-on-hover:hover {
	background-color: var(--highlight-color) !important;
}

.heavy-highlight-on-hover:hover {
	background-color: rgba(0.5, 0.5, 0.5, 0.75) !important;
}