::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #444444;
}

::-webkit-scrollbar-thumb {
    background: #AAAAAA;
}

::-webkit-scrollbar-thumb:hover {
    background: #505050;
}

::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    border: none;
    border-radius: 3px;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 500%;
    background: var(--background-color);
    border: 2px solid #515151;
    margin-top: -5px;
    cursor: pointer;
}