@import "/css/bulma.min.css";
@import "/css/bulma-prefers-dark.min.css";

:root {
    --theme: #e94b4b;

    --background-color: #121212;

    --text-color: #dbdbdb;
    --title-bar-color: #070707;
    --title-bar-faded-color: #c8c8c8;
    --title-bar-text-color: #e8e8e8;
    --title-bar-highlight: rgba(255, 255, 255, 0.1);
    --highlight-color: rgba(255, 255, 255, 0.15);
    --step-color: #171717;

    --white-invert-factor: 0.2;
}

.dark-show {
    display: unset;
}

.light-show {
    display: none;
}